<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pem.informagc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".vista.VistaLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.VistaRecuperarPassword"
            android:label=""
            android:parentActivityName=".vista.VistaLogin"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".vista.VistaRegistro"
            android:label=""
            android:parentActivityName=".vista.VistaLogin"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".vista.VistaPasoUno"
            android:label="Paso 1 de 2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vista.VistaPasoDos"
            android:label="Paso 2 de 2"
            android:parentActivityName=".vista.VistaPasoUno"
            android:theme="@style/AppTheme.Transparent2"></activity>
        <activity android:name=".vista.VistaPerfil"
            android:label="Perfil"
            android:parentActivityName=".vista.VistaPasoUno"
            android:theme="@style/AppTheme.Transparent2"></activity>
    </application>

</manifest>